.container{
     overflow: hidden;
     display: flex;
     width:500px;
    height: 50px;
    text-align: center;
    border: 1px solid black;

} 
button{
    background-color: rgb(14, 54, 14);
    color: white;
    
}
#one {
    width: 10%;
    background-color: rgb(14, 54, 14);
}
